* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    display: grid;
    grid-template-rows: 95px 965px;
}

.navBar {

  
    background: white;
    box-shadow: 0 0 10px;
    text-align: center;

}

.container {
    flex-grow: 4;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    text-align: center;
    
}

.main-section {

    grid-column: 2/3;
    
  
    
}


